{# partial template: specific(karte) #}
{# partial template: get(header) #}
{% include 'tmpl-header.twig' %}
<body>

  <header class="grid w960">
    <div class="row">
      <h1 class="c12"><a href="{{ "index"|link }}">{{ site_title }}</a></h1>
    </div>
  </header>

  {# partial template: get(nav) #}
  {% include 'tmpl-nav.twig' %}

  <main class="grid w960">
    <div class="row">
      <div class="container c12">
        {{ content }}
      </div>
    </div>
  </main>

{# partial template: get(footer) #}
{% include 'tmpl-footer.twig' %}
